@import "base/fonts";
@import "base/reset";
@import "base/variables";

#tab {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text);
  background: var(--background);

  main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;

    .counter {
      display: flex;
      align-items: flex-start;
      font-size: 1.75rem;
      line-height: 1;

      .age {
        margin-top: 1em;
        margin-right: 0.25rem;
        font-size: 0.5em;
        color: var(--muted);
      }

      #years {
        margin: 0;
        font-size: 3.75em;
        color: var(--text);
      }

      #millisecond {
        min-width: 205px;
        margin-top: 0.35em;
        font-size: 1.25em;
        color: var(--gray);
      }
    }
  }

  footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: var(--accent);
    text-align: center;

    #colorMode {
      position: absolute;
      right: 2rem;
      color: var(--gray);
      cursor: pointer;
      user-select: none;

      &:hover {
        color: var(--primary);
      }
    }
  }

  #modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.25);

    &.hidden {
      display: none;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 2rem 4rem;
      background-color: #fff;
      border-radius: 0.25rem;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

      input {
        padding: 0.25rem 1rem;
        border-radius: 0.25rem;

        &[type=date] {
          border-color: rgba($color: #000, $alpha: 0.25);
          border-style: solid;
          border-width: 1px;
        }

        &[type=submit] {
          margin-top: 0.5rem;
          background-color: transparent;
          border-color: rgba($color: #000, $alpha: 0.25);
          border-style: solid;
          border-width: 1px;

          &:hover,
          &:focus {
            color: #fff;
            background-color: #000;
          }
        }
      }
    }
  }
}
