@import "base/fonts";
@import "base/reset";
@import "base/variables";

#tab {
  position: relative;
  display: flex;
  min-height: 100vh;
  color: #f5f5f5;
  background: #1a1a1a;

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .counter {
      display: flex;
      align-items: flex-start;
      font-size: 1.75rem;
      line-height: 1;

      .age {
        margin-top: 1em;
        margin-right: 0.25rem;
        font-size: 0.5em;
        opacity: 0.1;
      }

      #years {
        margin: 0;
        font-size: 3.75em;
      }

      #millisecond {
        min-width: 205px;
        margin-top: 0.35em;
        font-size: 1.25em;
        opacity: 0.5;
      }
    }
  }

  #modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.25);

    &.hidden {
      display: none;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 2rem 4rem;
      background-color: #fff;
      border-radius: 0.25rem;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

      input {
        padding: 0.25rem 1rem;
        border-radius: 0.25rem;

        &[type=date] {
          border-color: rgba($color: #000, $alpha: 0.25);
          border-style: solid;
          border-width: 1px;
        }

        &[type=submit] {
          margin-top: 0.5rem;
          background-color: transparent;
          border-color: rgba($color: #000, $alpha: 0.25);
          border-style: solid;
          border-width: 1px;

          &:hover,
          &:focus {
            color: #fff;
            background-color: #000;
          }
        }
      }
    }
  }
}
